<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <EnvironmentVariables>
            <Speakarr__Postgres__Host>192.168.100.5</Speakarr__Postgres__Host>
			<Speakarr__Postgres__Port>5432</Speakarr__Postgres__Port>
			<Speakarr__Postgres__User>abc</Speakarr__Postgres__User>
			<Speakarr__Postgres__Password>abc</Speakarr__Postgres__Password>
        </EnvironmentVariables>
    </RunConfiguration>
</RunSettings>
